body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Updated background for a more atmospheric sky */
    background: linear-gradient(to bottom, #87ceeb 0%, #d8eaff 100%);
}

#game-container {
    width: 100vw;
    height: 100vh;
}

#intro-overlay, #game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    z-index: 10;
    transition: opacity 1.5s ease-out;
}

#intro-overlay h1, #game-over-overlay h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 300;
}

#intro-overlay p, #game-over-overlay p {
    font-size: 1.2rem;
    font-weight: 300;
}

#game-over-overlay {
    opacity: 0;
    display: none; /* Hidden by default */
    cursor: pointer;
}

#pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}

#pause-overlay h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 300;
}

#pause-overlay p {
    font-size: 1.2rem;
    font-weight: 300;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 5;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}